* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  font-family: "Poppins", sans-serif;
  background: #000;
  color: white;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

.container {
  width: 100%;
  min-height: 200px;
}
/* Navbar */
.navbar {
  position: fixed;
  top: 30px; /* Lebih kecil dari sebelumnya */
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  padding: 1vh 5vh; /* Lebih ramping secara vertikal */
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(42, 43, 56, 0.5);
  backdrop-filter: blur(8px);
  padding: 0.5rem 1rem; /* Rampingkan padding */
  border-radius: 16px; /* Lebih kecil dari 20px */
  width: 90%;
  max-width: 680px; /* Turunkan lebar maksimum */
  border: 1.8px solid #2a2b37; /* Lebih tipis dari 2px */
}

.logo-container {
  display: flex;
  align-items: center;
  position: relative;
  height: 40px; /* Sebelumnya 50px */
}

.logo-icon {
  width: 35px; /* Lebih kecil dari 50px */
  height: 25px; /* Sesuaikan tinggi */
  position: relative;
  z-index: 2;
}

.logo-icon {
  width: 50px;
  height: 30px;
  position: relative;
  z-index: 2;
}

.logo-icon img {
  width: 100%;
  height: auto;
}

.logo-text-wrapper {
  position: relative;
  overflow: hidden;
  width: 100px; /* tambahkan lebar yang cukup untuk sliding text */
  height: 20px;
  margin-left: 8px;
  margin-top: 12px;
}

.logo-text {
  position: absolute;
  white-space: nowrap;
  animation: slideText 6s ease-in-out infinite;
  font-size: 0.75rem;
}

@keyframes slideText {
  0% {
    transform: translateX(-100%);
  }
  25%,
  50% {
    transform: translateX(0%);
  }
  75%,
  100% {
    transform: translateX(-100%);
  }
}

/* Hero Section */
.hero {
  max-width: 800px;
  margin: 100px auto 0;
  padding: clamp(3rem, 10vw, 6rem);
  position: relative;
  z-index: 2;
}

.hero-title {
  font-size: clamp(4rem, 7vw, 3.7rem);
  font-weight: bold;
  line-height: 1.3;
}

.role-wrapper {
  display: inline-block;
  white-space: nowrap;
  max-width: 100%;
}

.view-btn {
  margin-top: 30px;
  display: inline-block;
  padding: 8px 18px;
  color: white;
  border: 1.5px solid white;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.9rem;
  transition: 0.3s;
}

.view-btn:hover {
  background-color: white;
  color: black;
}

.gradient-text {
  background: linear-gradient(
    270deg,
    #6e81f3,
    #c576f6,
    #f472b6,
    #4ade80,
    #6e81f3
  );
  background-size: 600% 600%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientMove 4s ease infinite;
  display: inline-block;
  max-width: 100%;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Corner Images */
.corner-img {
  position: absolute;
  z-index: 1;
  width: clamp(80px, 20vw, 200px);
  height: auto;
  max-height: 30vh;
  object-fit: contain;
  pointer-events: none;
}

.top-left {
  top: 0;
  left: 0;
  transform: translate(-10%, -10%);
}

.corner-img.bottom-right {
  position: absolute;
  bottom: 80px;
  right: 0;
  width: 200px;
  z-index: 3;
  pointer-events: none;
}

.music-toggle {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 10;
  cursor: pointer;
}

.social-icons {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.social-icons a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
}

.social-icons a i {
  font-size: 1.2rem;
}

.toggle-switch {
  position: relative;
  width: 70px;
  height: 35px;
  border: 2px solid #a259ff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: black;
}

.music-icon {
  color: white;
  font-size: 18px;
}

.circle {
  width: 24px;
  height: 24px;
  background: white;
  border-radius: 50%;
  position: absolute;
  right: 3px;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.music-toggle.active .circle {
  right: 38px;
}

.equalizer {
  display: none;
  flex-direction: row;
  gap: 2px;
  height: 12px;
  align-items: end;
}

.equalizer span {
  width: 2px;
  height: 0.5px;
  background: #ffffff;
  animation: equalize 2s infinite ease-in-out;
}

.equalizer span:nth-child(1) {
  animation-delay: 0.5s;
}
.equalizer span:nth-child(2) {
  animation-delay: 0.1s;
}
.equalizer span:nth-child(3) {
  animation-delay: 0.7s;
}

@keyframes equalize {
  0%,
  100% {
    height: 4px;
  }
  50% {
    height: 14px;
  }
}

.music-toggle.active .equalizer {
  display: flex;
}

.social-icons a {
  font-size: 20px;
  color: white;
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px 10px;
  border-radius: 8px;
  text-decoration: none;
  transition: transform 0.2s ease;
}

.social-icons a span {
  font-size: 14px;
  font-weight: bold;
  color: white;
  letter-spacing: 1px;
}

.social-icons a:hover {
  transform: scale(1.1);
  background: rgba(255, 255, 255, 0.2);
}

.social-icons a:hover {
  transform: scale(1.2);
}

.social-icons a i {
  color: white;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 60px 20px;
  align-items: center;
  padding-top: 400px;
}

.card {
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(35, 37, 49, 0.5),
    rgba(15, 15, 24, 0.5)
  );
  padding: 40px;
  border-radius: 5rem;
  width: 90%;
  max-width: 800px;
  display: flex;
  align-items: center;
  gap: 40px;
  color: white;
  border: 0.1rem solid #20222e;
  z-index: 1;
  min-height: 520px;
  backdrop-filter: blur(54px);
  -webkit-backdrop-filter: blur(10px);
}

.card-image {
  position: relative;
  width: 350px;
  height: 430px;
  margin-left: 60px;
  border-radius: 50px;
  overflow: hidden;
}

.card-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50px;
  transition: opacity 0.6s ease;
}

.img-default {
  opacity: 1;
  z-index: 1;
}
.img-hover {
  opacity: 0;
  filter: blur(10px);
  transition: opacity 0.6s ease, filter 0.6s ease;
}

.card:hover .img-hover {
  opacity: 1;
  filter: blur(0);
}

.card:hover .img-default {
  opacity: 0;
}

.card-content {
  flex: 1;
}

.card-content h2 {
  font-size: 2.2rem;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  margin-top: -15px;
  margin-left: 20px;
  color: white;
  position: relative;
  background-size: 200% 100%;
  background-position: right center;
  background-repeat: no-repeat;
  transition: all 0.3s ease;
  -webkit-background-clip: text;
  -webkit-text-fill-color: white; /* fallback visible text */
}

.card:hover h2.animate-gradient {
  animation: waveText 4s ease-in-out forwards;
  -webkit-text-fill-color: transparent;
}

@keyframes waveText {
  0% {
    background-position: right center;
  }
  50% {
    background-position: left center;
  }
  100% {
    background-position: right center;
  }
}

.visit-link {
  color: #f9a825;
  text-decoration: none;
  font-weight: 400;
  display: inline-block;
  margin-bottom: 15px;
  margin-left: 20px;
  margin-top: 40px;
  position: relative;
}

.visit-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 50%;
  height: 1px;
  background-color: #ffffff;
}

.icons {
  font-size: 20px;
  display: flex;
  gap: 15px;
  color: #fff;
  margin-top: 70px;
  margin-left: 20px;
}

.card-number {
  position: absolute;
  top: -70px;
  right: -30px;
  font-size: 100px;
  font-weight: 900;
  z-index: 0;
  font-family: "Poppins", sans-serif;
  pointer-events: none;

  color: transparent;
  -webkit-text-stroke: 1.5px white;

  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 100%,
    rgba(255, 255, 255, 0) 100%
  );
  -webkit-mask-clip: text;
  -webkit-mask-composite: destination-in;

  mask-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 60%
  );
  mask-clip: text;
  mask-composite: intersect;

  opacity: 1;
}

.extra-paragraph {
  position: absolute;
  bottom: -20px; /* jarak dari bawah, bisa kamu sesuaikan */
  left: 50%;
  transform: translateX(-50%);
  max-width: 500px;
  width: 90%;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  color: #ddd;
  opacity: 0.9;
  z-index: 5;
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
}

.timeline-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 60px 20px;
  background-color: #000000;
  color: #fff;
  flex-wrap: wrap;
  gap: 40px;
}

.timeline-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1200px;
  width: 100%;
}

.timeline-column {
  flex: 1;
  min-width: 300px;
  background-color: #000000;
  padding: 20px;
  border-radius: 15px;
  position: relative;
  box-shadow: 0 0 0px rgba(255, 255, 255, 0.05);
  border: 2px solid transparent;
  transition: all 0.4s ease;
  border: 1px solid #555;
}

.timeline-column h2 {
  font-size: 24px;
  margin-bottom: 30px;
  border-bottom: 2px solid #333;
  padding-bottom: 10px;
}

.timeline-box {
  position: relative;
}

.timeline-item {
  position: relative;
  padding-left: 30px;
  margin-bottom: 40px;
}

.timeline-item::before {
  content: "";
  position: absolute;
  left: 3.5px;
  top: 10px;
  width: 0.5px;
  height: 0;
  background: linear-gradient(to bottom, #6e81f3, #c576f6, #f472b6);
  transition: height 0.6s ease;
  z-index: 0;
}

/* Garis vertikal */
.line {
  position: absolute;
  top: 10px; /* Mulai dari bawah titik */
  left: 3.5px; /* Tengah titik */
  width: 0.5px;
  height: 90px; /* setengah tinggi default */
  background: linear-gradient(to bottom, #6e81f3, #c576f6, #f472b6);
  transition: height 0.4s ease;
  z-index: 1;
}

/* Saat hover: garis memanjang penuh */
.timeline-item:hover .line {
  height: 100%;
}

.timeline-item:hover::before {
  height: 100%;
}

.timeline-item .dot {
  position: absolute;
  left: 0;
  top: 8px;
  width: 8px;
  height: 8px;
  background: #4e4e4e;
  border-radius: 50%;
  z-index: 1;
  transition: background 0.3s ease;
}

.timeline-item:hover .dot {
  background: #6e6e6e;
}

.timeline-item .logo img {
  max-height: 60px;
  margin-bottom: 8px;
  filter: brightness(1.2);
}

.timeline-item .date {
  font-size: 14px;
  color: #aaa;
  margin-bottom: 5px;
}

.timeline-item h3 {
  font-size: 18px;
  margin: 0 0 5px;
}

.timeline-item p {
  font-size: 14px;
  color: #ccc;
}

.timeline-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #fff;
  padding-bottom: 8px;
}
.timeline-wrapper {
  flex: 1;
  min-width: 300px;
}

.tools-section {
  padding: 80px 20px;
  background-color: #000000;
  color: #fff;
  text-align: center;
}

.tools-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px 60px 20px;
  gap: 40px;
  flex-wrap: wrap;
}

.tools-title {
  font-size: 22px;
  font-weight: 400;
  color: #ccc;
  margin: 0;
  margin-left: 180px; /* Tambahkan ini untuk geser ke kanan */
}

.section-title {
  font-size: 46px;
  font-weight: 800;
  color: white;
  margin: 0;
  max-width: 900px;
  text-align: left;
  line-height: 1.3;
  margin-right: 180px; /* Tambahkan ini untuk geser ke kiri */
}

.section-title {
  background: linear-gradient(90deg, #b0f3f1, #ffcfdf);
  background-size: 100% 100%; /* Ukuran normal */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tools-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.tool-card {
  background-color: #000000;
  border: 1px solid #222;
  border-radius: 12px;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Tetap untuk gambar di tengah */
  transition: all 0.3s ease;
  position: relative; /* Untuk kontrol lebih lanjut jika dibutuhkan */
}
.tool-card img {
  height: 40px;
  margin-bottom: 15px;
  filter: brightness(1.2);
  margin-top: 20px;
}

.tool-card span {
  font-size: 14px;
  font-weight: 500;
  color: #ccc;
  letter-spacing: 0.5px;
  align-self: flex-start; /* Ini membuat teks pindah ke kiri */
  margin-top: 20px; /* Boleh dihapus jika tidak ingin ada jarak besar */
}

.tool-card:hover {
  border-color: #555;
}

/*Surface Duo*/
@media (max-width: 768px) {
  .hero {
    padding: clamp(2.5rem, 6vw, 3rem);
    margin-top: 120px;
  }

  .hero-title {
    font-size: clamp(2.5rem, 6vw, 10rem);
    font-weight: bold;
    margin-left: 8vh;
    text-align: left;
  }

  .view-btn {
    margin-top: 50px;
    padding: 8px 18px;
    font-size: 0.95rem;
    margin-left: 8vh;
  }

  .logo-text-wrapper {
    width: 120px;
    height: 24px;
    margin-left: 10px;
  }

  .logo-text {
    font-size: 0.85rem;
  }

  .corner-img {
    width: clamp(100px, 30vw, 180px);
    max-height: 22vh;
  }

  .bottom-right {
    bottom: 30vh;
    right: 10px;
    transform: translate(30%, -60%);
  }

  .music-toggle {
    bottom: 140px;
    left: 20px;
    transform: scale(0.9);
  }

  .social-icons {
    bottom: 140px;
    right: 20px;
    transform: scale(0.9);
  }

  .extra-paragraph {
    bottom: 10px;
    font-size: 1rem;
    text-align: center;
  }

  .projects {
    padding-bottom: 90px;
    padding-left: 20px;
    padding-right: 20px;
    gap: 32px;
  }

  .card {
    flex-direction: column;
    padding: 24px;
    gap: 20px;
    min-height: auto;
  }

  .card-image {
    width: 220px;
    height: 280px;
    margin-left: 0;
    border-radius: 1.5rem;
  }

  .card-image img {
    border-radius: 1.5rem;
  }

  .card-content {
    text-align: center;
    padding: 0 10px;
    margin-top: -6px;
  }

  .card-content h2 {
    font-size: 1.4rem;
    margin: 8px 0;
    margin-right: 0;
  }

  .visit-link {
    font-size: 0.8rem;
    margin: 6px 0;
    margin-right: 0;
  }

  .icons {
    justify-content: center;
    gap: 6px;
    margin-top: 6px;
    margin-right: 0;
  }
  .tools-title {
    font-size: 1rem;
    font-weight: 400;
    color: #ccc;
    margin: 0;
    margin-left: 0; /* Tambahkan ini untuk geser ke kanan */
  }

  .section-title {
    font-size: 1.5rem;
    font-weight: 800;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    text-align: left;
    line-height: 1.4;
    background: linear-gradient(90deg, #b0f3f1, #ffcfdf);
    background-size: 100% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .tools-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 20px 20px;
    gap: 20px;
    flex-wrap: wrap;
  }
}

/*iphone SE Galaxy z fold 5,dan Samsung Galaxy S8+*/
@media (max-width: 480px) {
  .hero {
    padding: clamp(2.7rem, 5vw, 2.5rem);
    margin-top: 100px;
  }

  .hero-title {
    font-size: clamp(1.8rem, 6vw, 2.6rem);
    font-weight: bold;
    margin-left: 2vh;
    text-align: left;
  }

  .view-btn {
    margin-top: 54px;
    display: inline-block;
    padding: 6px 14px;
    color: white;
    border: 1.5px solid white;
    text-decoration: none;
    font-weight: 500;
    font-size: 0.85rem;
    margin-left: 2vh;
  }

  .logo-text-wrapper {
    width: 100px;
    height: 20px;
    margin-left: 8px;
    overflow: hidden;
  }

  .logo-text {
    font-size: 0.7rem;
  }

  .corner-img {
    width: clamp(80px, 35vw, 160px);
    max-height: 20vh;
  }

  .bottom-right {
    bottom: 35vh;
    right: 0;
    transform: translate(30%, -120%);
  }

  .music-toggle {
    left: 15px;
    bottom: 230px;
    transform: scale(0.75);
    z-index: 10;
  }

  .social-icons {
    right: 15px;
    bottom: 230px;
    gap: 6px;
    z-index: 10;
    transform: scale(0.75); /* memperkecil jadi 75% ukuran asli */
    transform-origin: bottom right;
  }

  .projects {
    padding-bottom: 50px; /* beri jarak aman agar tidak mentabrak toggle atau icon */
    padding-left: 12px;
    padding-right: 12px;
    gap: 24px;
  }

  .card {
    flex-direction: column;
    align-items: center;
    padding: 14px;
    gap: 14px;
    border-radius: 1.5rem;
  }

  .card-image {
    width: 240px;
    max-width: 240px;
    aspect-ratio: 2 / 3;
    border-radius: 1.5rem;
  }

  .card-image img {
    position: absolute;
    border-radius: 1.2rem;
  }

  .card-content {
    text-align: center;
    padding: 0 8px;
    margin-top: -8px; /* naikkan sedikit jika terlalu renggang dengan gambar */
  }

  .card-content h2 {
    font-size: 1.2rem;
    margin: 10px 0; /* kecilkan margin atas bawah */
    margin-right: 170px;
  }

  .visit-link {
    font-size: 0.75rem;
    margin: 8px 0; /* tambahkan jika belum ada */
    display: inline-block;
    margin-right: 140px;
  }

  .icons {
    justify-content: center;
    gap: 8px; /* kecilkan gap antar ikon */
    margin-top: 20px; /* atur agar tidak terlalu jauh dari link */
    margin-right: 210px;
  }

  .extra-paragraph {
    bottom: 130px;
    font-size: 0.85rem;
    padding: 0 10px;
    line-height: 1.5;
    font-family: "Montserrat", sans-serif;
    color: #ddd;
  }

  .tools-title {
    font-size: 1rem;
    font-weight: 400;
    color: #ccc;
    margin: 0;
    margin-left: 0; /* Tambahkan ini untuk geser ke kanan */
  }

  .section-title {
    font-size: 1rem;
    font-weight: 800;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    text-align: left;
    line-height: 1.4;
    background: linear-gradient(90deg, #b0f3f1, #ffcfdf);
    background-size: 100% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .tools-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 20px 20px;
    gap: 20px;
    flex-wrap: wrap;
  }
}

@media (min-width: 428px) and (max-width: 432px) {
  /* ip 14 pro max */
  .hero-title {
    font-size: 2.1rem;
  }
  .music-toggle {
    bottom: 350px;
    left: 20px;
    transform: scale(0.75);
  }

  .social-icons {
    bottom: 350px;
    right: 20px;
    transform: scale(0.75);
  }

  .extra-paragraph {
    bottom: 220px;
    font-size: 0.85rem;
    padding: 0 20px;
  }

  .visit-link {
    font-size: 0.75rem;
    margin: 8px 0;
    display: inline-block;
    margin-right: 140px;
  }

  .icons {
    gap: 8px;
    margin-top: 20px;
    margin-right: 210px;
  }
  .bottom-right {
    bottom: 35vh;
    right: 0;
    transform: translate(40%, -160%);
  }
}

@media (min-width: 390px) and (max-width: 417px) {
  /* Samsung Galaxy s20 ultra, pixel 7, iphone 12 pro, dan iphone xr */
  .hero-title {
    font-size: 2rem;
  }
  .music-toggle {
    bottom: 350px;
    left: 20px;
    transform: scale(0.75);
  }

  .social-icons {
    bottom: 350px;
    right: 20px;
    transform: scale(0.75);
  }

  .extra-paragraph {
    bottom: 220px;
    font-size: 0.85rem;
    padding: 0 20px;
  }

  .visit-link {
    font-size: 0.75rem;
    margin: 8px 0; /* tambahkan jika belum ada */
    display: inline-block;
    margin-right: 140px;
  }

  .icons {
    gap: 8px; /* kecilkan gap antar ikon */
    margin-top: 20px; /* atur agar tidak terlalu jauh dari link */
    margin-right: 210px;
  }
  .bottom-right {
    bottom: 35vh;
    right: 0;
    transform: translate(40%, -160%);
  }
}

/* iPad Mini dan iPad air*/
@media (min-width: 768px) and (max-width: 1024px) {
  .hero {
    padding: clamp(2.5rem, 6vw, 3rem);
    margin-top: 120px;
  }

  .hero-title {
    font-size: clamp(3rem, 6vw, 10rem);
    font-weight: bold;
    margin-left: 10vh;
    text-align: left;
  }

  .view-btn {
    margin-top: 50px;
    padding: 8px 18px;
    font-size: 0.95rem;
    margin-left: 10vh;
  }

  .logo-text-wrapper {
    width: 120px;
    height: 24px;
    margin-left: 10px;
  }

  .logo-text {
    font-size: 0.85rem;
  }

  .corner-img {
    width: clamp(100px, 30vw, 180px);
    max-height: 22vh;
  }

  .bottom-right {
    bottom: 30vh;
    right: 10px;
    transform: translate(30%, -200%);
  }

  .music-toggle {
    bottom: 430px;
    left: 20px;
    transform: scale(1);
  }

  .social-icons {
    bottom: 430px;
    right: 20px;
    transform: scale(1);
  }

  .extra-paragraph {
    bottom: 300px;
    font-size: 1rem;
    text-align: center;
  }

  .projects {
    padding-bottom: 90px;
    padding-left: 20px;
    padding-right: 20px;
    gap: 82px;
  }

  .card {
    flex-direction: column;
    padding: 70px;
    padding-left: 50px;
    padding-right: 50px;
    gap: 50px;
    min-height: 80vh;
  }

  .card-image {
    width: auto; /* atau tetap 600px kalau mau */
    height: 500px;
    aspect-ratio: 3 / 3;
    border-radius: 4rem;
    margin-left: 0;
  }

  .card-image img {
    border-radius: 1.5rem;
  }

  .card-content {
    text-align: center;
    padding: 0 60px;
    margin-top: -6px;
  }

  .card-content h2 {
    font-size: 2.2rem;
    margin: 8px 0;
    margin-right: 30vh;
  }

  .visit-link {
    font-size: 1.1rem;
    margin: 8px 0; /* tambahkan jika belum ada */
    display: inline-block;
    margin-right: 28vh;
  }

  .icons {
    gap: 8px; /* kecilkan gap antar ikon */
    margin-top: 20px; /* atur agar tidak terlalu jauh dari link */
    margin-right: 38vh;
    font-size: 1.6rem;
  }

  .tools-title {
    font-size: 2rem;
    font-weight: 400;
    color: #ccc;
    margin: 0;
    margin-left: 0; /* Tambahkan ini untuk geser ke kanan */
  }

  .section-title {
    font-size: 2rem;
    font-weight: 800;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    text-align: left;
    line-height: 1.4;
    background: linear-gradient(90deg, #b0f3f1, #ffcfdf);
    background-size: 100% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .tools-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 20px 20px;
    gap: 20px;
    flex-wrap: wrap;
  }
}

/* Asus Zenbook Fold, ipad pro, dan surface pro 7*/
@media (min-width: 834px) and (max-width: 1366px) {
  .hero {
    padding: clamp(2.5rem, 6vw, 3rem);
    margin-top: 120px;
  }

  .hero-title {
    font-size: clamp(3.2rem, 6vw, 10rem);
    font-weight: bold;
    margin-left: 5vh;
    text-align: left;
  }

  .view-btn {
    margin-top: 54px;
    display: inline-block;
    padding: 6px 14px;
    color: white;
    border: 1.5px solid white;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.5rem;
    margin-left: 5vh;
  }

  .card {
    flex-direction: row;
    gap: 32px;
    padding: 40px;
    max-width: 95%;
  }

  .card-image {
    width: 350px;
    height: 430px;
  }

  .card-content {
    flex: 1;
    text-align: left;
  }

  .bottom-right {
    bottom: 30vh;
    right: 10px;
    transform: translate(30%, -270%);
  }

  .extra-paragraph {
    bottom: 480px;
    font-size: 1.1rem;
    padding: 0 24px;
  }

  .music-toggle,
  .social-icons {
    bottom: 600px;
    right: 24px;
    transform: scale(1);
  }

  .visit-link {
    font-size: 1rem;
    margin: 8px 0; /* tambahkan jika belum ada */
    display: inline-block;
    margin-right: 100px;
  }

  .icons {
    gap: 8px; /* kecilkan gap antar ikon */
    margin-top: 20px; /* atur agar tidak terlalu jauh dari link */
    margin-right: 200px;
    font-size: 1.3rem;
  }

  .card-image {
    width: 450px;
    max-width: 450px;
    aspect-ratio: 2 / 3;
    border-radius: 3rem;
  }

  .card-image img {
    position: absolute;
    border-radius: 1.2rem;
  }

  .card-content {
    text-align: center;
    padding: 0 1px;
    margin-top: 8px; /* naikkan sedikit jika terlalu renggang dengan gambar */
  }

  .card-content h2 {
    font-size: 2rem;
    margin: 10px 0;
    margin-right: 120px;
  }
}

/* Nest Hub dan Nest Hub Max*/
@media (min-width: 1024px) and (max-width: 1280px) and (max-height: 800px) {
  .hero {
    padding: clamp(2.5rem, 6vw, 3rem);
    margin-top: 120px;
  }

  .hero-title {
    font-size: clamp(3rem, 6vw, 10rem);
    font-weight: bold;
    margin-left: 5vh;
    text-align: left;
  }

  .view-btn {
    margin-top: 54px;
    display: inline-block;
    padding: 6px 14px;
    color: white;
    border: 1.5px solid white;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
    margin-left: 5vh;
  }

  .card {
    flex-direction: row;
    gap: 30px;
    padding: 40px;
    max-width: 90%;
  }
  .card-content {
    flex: 1;
    text-align: left;
  }

  .bottom-right {
    bottom: 30vh;
    right: 10px;
    transform: translate(30%, 40%);
  }

  .top-left {
    bottom: 30vh;
    right: 10px;
    transform: translate(-20%, -10%);
  }

  .extra-paragraph {
    bottom: -210px;
    font-size: 1.1rem;
    padding: 0 24px;
  }

  .music-toggle,
  .social-icons {
    bottom: -50px;
    right: 24px;
    transform: scale(1);
  }

  .visit-link {
    font-size: 1rem;
    margin: 8px 0; /* tambahkan jika belum ada */
    display: inline-block;
    margin-right: 140px;
  }

  .icons {
    gap: 8px; /* kecilkan gap antar ikon */
    margin-top: 20px; /* atur agar tidak terlalu jauh dari link */
    margin-right: 250px;
    font-size: 1.2rem;
  }

  .card-image {
    width: 450px;
    max-width: 450px;
    aspect-ratio: 2 / 3;
    border-radius: 3rem;
  }

  .card-image img {
    position: absolute;
    border-radius: 1.2rem;
  }

  .card-content {
    text-align: center;
    padding: 0 8px;
    margin-top: -8px; /* naikkan sedikit jika terlalu renggang dengan gambar */
  }

  .card-content h2 {
    font-size: 2rem;
    margin: 10px 0; /* kecilkan margin atas bawah */
    margin-right: 170px;
  }
  .projects {
    padding-bottom: 90px;
    padding-left: 110px;
    padding-right: 110px;
    gap: 32px;
  }
  .corner-img {
    width: clamp(100px, 30vw, 180px);
    max-height: 32vh;
  }

  .tools-title {
    font-size: 2rem;
    font-weight: 400;
    color: #ccc;
    margin: 0;
    margin-left: 0; /* Tambahkan ini untuk geser ke kanan */
  }

  .section-title {
    font-size: 2rem;
    font-weight: 800;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    text-align: left;
    line-height: 1.4;
    background: linear-gradient(90deg, #b0f3f1, #ffcfdf);
    background-size: 100% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .tools-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 20px 20px;
    gap: 20px;
    flex-wrap: wrap;
  }
}
